.filter {
  display: flex;
  flex-direction: column;
}

.pickers {
  display: flex;
  flex-direction: row;
}

.inputs {
  flex-direction: column;
  width: 50%;
  padding-left: 10px;
}

.selects {
  flex-direction: column;
  width: 50%;
  padding-right: 10px;
}

label {
  padding: 5px 0;
}

.clear-button {
  width: 120px;
  font-size: 18px;
}

.clear-container {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
