.paragraph-title {
    padding: 20px;
}

.paragraph-body {
    padding: 20px;
}

.row {
    margin-left: -180px;
}

.items-table {
    width: 100%
}

.items-header {
    font-size: 20px;
    height: 35px;
}