.base {
  text-align: center;
}

.base .base-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;

  margin-bottom: 20px;
  margin-top: 20px;
}

.base-intro {
  font-size: large;
}

/*@keyframes base-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
