.base {
  text-align: center;
}

.base .base-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;

  margin-bottom: 20px;
  margin-top: 20px;
}

.base-intro {
  font-size: large;
}

.main-menu {
  list-style-type: none;
  padding: 10px 0;
  margin-bottom: 0;
  padding-left: 20px;
}

.main-menu li{
  display: inline-block;
}

.main-menu li:not(:first-child)::before {
  content: "\00a0 | ";
}

.logout-nav {
  color: #337ab7;
}

hr {
  margin-top: 0;
}

.logout-nav:hover {
  text-decoration: underline;
  cursor: pointer;
}
