.items-new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items-new-container h3 {
  text-align: center;
}

.items-new {
  display: flex;
  flex-direction: column;
  /*justify-content:center;*/
  /*align-items: center;*/

  width: 550px;
  padding-left: 50px;
}

.items-new label {
  margin-top: 20px;
}

.items-new input {
  margin-top: 5px;
}

.items-new .add-item-button {
  /*width: 55px;*/
  margin-top: 25px;
  height: 35px;
  /*background-color: green;*/
  /*color: white;*/
}
